<div class="row" style="padding:15px">
	<div class="card w-100">
		<div class="card-header">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand">Daftar Agent</a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav ml-md-auto">
						<li class="nav-item active">
							<a data-target="#modal-container-825517" role="button" data-toggle="modal" class="nav-link" href=""><i class="fas fa-plus-circle fa-2x text-success"></i> <span class="sr-only">(current)</span></a>
						</li>
						
					</ul>
				</div>
			</nav>
		</div>
		<div class="card-body">
			<table class="table">
				<thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kode</th>
                        <th scope="col">Name</th>
                        <th scope="col">Contact Person</th>
                        <th scope="col">Telp</th>
                        <th scope="col">Handphone</th>
                        <th scope="col">Action</th>
                    </tr>
				</thead>
				<tbody>
                    <tr ng-repeat="item in Datas">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{item.Code}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.ContactPerson}}</td>
                        <td>{{item.Telepon}}</td>
                        <td>{{item.Handphone}}</td>
                        <td>
                            <a href=""><i class="fas fa-trash text-info"></i></a>
                            <a href=""><i class="fas fa-trash text-warning"></i></a>
                            <a href=""><i class="fas fa-trash text-danger"></i></a>
                        </td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="col-md-12">
    <div class="modal fade" id="modal-container-825517" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Modal title
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>
                                Kode Agent
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>
                                Nama Perusahaan
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>
                                NPWP
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>
                                Contact Person
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>
                                Telepon
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>
                                Handphone
                            </label>
                            <input type="text" class="w-25 form-control" />
                            <input type="text" class="w-25 form-control" />
                        </div>

                        <div class="form-group">
                            <label>
                                Alamat
                            </label>
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
               
            </div>

        </div>

    </div>

</div>