<div class="row" style="padding:15px">
    <div class="card w-100">
        <div class="card-header">
            <h4 class="print-only">DAFTAR HARGA</h4>
            <h5 class="print-only">{{Agent.Name}}</h5>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button> <a class="navbar-brand">Daftar Tarif {{Agent.Name}}</a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item active">
                            <a data-target="#modal-container-825517" role="button" data-toggle="modal" class="nav-link" href="" ng-click="model=null"><i class="fas fa-plus-circle fa-2x  text-success"></i> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="" ng-click="print()"><i class="fas fa-print fa-2x  text-info"></i> <span class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <div class="card-body">
            <div class="form-group w-25 no-print">
                <label>
                    Jenis Pelabuhan
                </label>
                <select class="form-control" ng-options="item as item for item in Ports" ng-model="SortBy"></select>
            </div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kode</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Via</th>
                        <th scope="col">Tarif</th>
                        <th scope="col" class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in Datas | filter:{ PortType: SortBy }">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{item.City.Code}}</td>
                        <td>{{item.City.Name}}</td>
                        <td>{{item.PortType}}</td>
                        <td>{{item.PriceValue}}</td>

                        <td class="text-right">
                            <a ng-click="SelectedItem(item)" data-toggle="modal" data-target="#exampleModalCenter" href=""><i class="fas fa-trash text-info"></i></a>
                            <a ng-click="EditItem(item)" data-target="#modal-container-825517" role="button" data-toggle="modal"><i class="fas fa-edit text-warning"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="modal fade" id="modal-container-825517" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                       Harga Baru
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" ng-submit="SaveAgent(model)">
                        <div class="form-group">
                            <label>
                                Tujuan
                            </label>
                            <select  class="form-control" ng-options="item as item.Name for item in Cities track by item.Id" ng-model="model.City"></select>
                        </div>
                        <div class="form-group">
                            <label>
                                Jenis Pelabuhan
                            </label>
                            <select  class="form-control" ng-options="item as item for item in Ports" ng-model="model.PortType"></select>
                        </div>
                        <div class="form-group">
                            <label>
                                Harga
                            </label>
                            <input ng-model="model.PriceValue" type="number" class="form-control" required />
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Agent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin Hapus Data ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button ng-click="delete()" data-dismiss="modal" type="button" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>