^contentpage {
    background-color: #00BBF9;
    border: 2 solid red;
    border-radius: 5;
}

^button {
    background-color: #9B5DE5;
    height: 50;
    border-radius: 5;
    color:white;
}


^label{
    color:white;
}


.labelText{
    color:white;
}
