^contentpage {
    background-color: #1F271B;
    border: 2 solid red;
    border-radius: 5;
}

^button {
    background-color: #198C7F;
    height: 50;
    border-radius: 5;
    color:white;
}


^label{
    color:white;
}


^Entry {
    color: white;
}


.labelText{
    color:white;
}
