<div class="row" style="padding:15px">
    <div class="card w-100">
        <div class="card-header">
            <h4 class="print-only">DAFTAR HARGA</h4>
            <h5 class="print-only">{{Agent.Name}}</h5>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button> <a class="navbar-brand">DAFTAR TARIF</a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="" ng-click="print()"><i class="fas fa-print fa-2x  text-info"></i> <span class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <div class="card-body">
            <div class="form-group w-25 no-print">
                <label>
                    Jenis Pelabuhan
                </label>
                <select class="form-control" ng-options="item as item for item in Ports" ng-model="SortBy"></select>
            </div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kode</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Via</th>
                        <th scope="col">Tarif</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in Datas | filter:{ PortType: SortBy }">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{item.City.Code}}</td>
                        <td>{{item.City.Name}}</td>
                        <td>{{item.PortType}}</td>
                        <td class="text-right">{{item.PriceValue|number}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

