<div class="row">
    <div class="card w-100">
        <form ng-submit="CreateManifest(model)" id="manifestForm">
            <div class="card-header">
                <h4 class="print-only">MANIFES</h4>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button type="submit" class="btn btn-link">
                        <i ng-if="Saved" class="fas fa-check-circle  text-success fa-2x"></i>
                        <i ng-if="!Saved" class="fas fa-check-circle  text-dark fa-2x"></i>
                        <span class="sr-only">(current)</span>
                    </button>
                    <a class="navbar-brand">Manifest</a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item active" ng-if="Saved">
                                <a class="nav-link" href="" ng-click="print()"><i class="fas fa-print fa-2x  text-info"></i> <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
            <div class="card-body">
                <div class="row" style="padding:10px 20px">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-4 col-form-label">Nomor Manifes</label>
                            <div class="col-sm-8">
                                <input type="number" ng-model="model.Number" class="form-control" id="inputPassword" placeholder="Nomor Manifes" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Pengiriman Via</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-options="item as item for item in Ports" ng-model="model.PortType" required></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Informasi Transportasi/ Armada</label>
                            <div class="col-sm-8">
                                <textarea type="text" ng-model="model.DetailInformation"
                                          style="height:100px" class="form-control " placeholder="ex: Via SMU 12323232.232.888 / etc" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-4 col-form-label">Jumlah Pembungkusan</label>
                            <div class="col-sm-8">
                                <input type="number" ng-model="model.Package" class="form-control" id="inputPassword" placeholder="Pcs" required>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="model.RecieveOnPort===null">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Perkiraan Tiba</label>
                            <div class="col-sm-8">
                                <div class="input-group mb-2">
                                    <input datepicker="" ng-model="model.SendedDate" class="form-control">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Tanggal</label>
                            <div class="col-sm-8">
                                <label type="text" lass="form-control" placeholder="DateTime">{{model.CreateDate|date:"dd MMMM yyyy"}}</label>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="model.RecieveOnPort!==null">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Diterima Tanggal</label>
                            <div class="col-sm-8">
                                <label type="text" lass="form-control" placeholder="DateTime">{{model.RecieveOnPort|date:"dd MMMM yyyy MM:ss"}}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Admin</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="model.User.Name" readonly class="form-control" placeholder="Admin Name" required>
                            </div>
                        </div>


                    </div>


                </div>


            </div>

        </form>

    </div>
    <div class="card w-100" ng-show="Saved">
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th class="priority-5" scope="col">#</th>
                        <th class="priority-1" scope="col">STT</th>
                        <th class="priority-1" scope="col">Pengirim</th>
                        <th class="priority-1" scope="col">Penerima</th>
                        <th class="priority-1" scope="col">Jumlah</th>
                        <th class="priority-2" scope="col">Bobot</th>
                        <th class="priority-2" scope="col">Tujuan</th>
                        <th class="priority-2" scope="col">Via</th>
                        <th class="priority-3" scope="col">Diterima</th>
                        <th class="priority-3" scope="col">Tanggal</th>
                        <th class="priority-1 no-print" ng-if="model.RecieveOnPort===null" scope="col">Action</th>
                        <th class="print-only"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model.Items">
                        <th class="priority-5" scope="row">{{$index+1}}</th>
                        <td class="priority-1" scope="row">{{item.STT}}</td>
                        <td class="priority-5" scope="row">{{item.Shiper}}</td>
                        <td class="priority-1" scope="row">{{item.Reciever}}</td>
                        <td class="priority-1" scope="row">{{item.Pcs}}</td>
                        <td class="priority-5" scope="row">{{item.WeightValue}}</td>
                        <td class="priority-5" scope="row">{{item.City.Name}}</td>
                        <td class="priority-5" scope="row">{{item.ShippingBy}}</td>
                        <td class="priority-2" scope="row">{{item.Status.RecieverName}}</td>
                        <td class="priority-5" scope="row">{{item.Status.RecieveDate}}</td>
                        <td class="priority-1 no-print" scope="row" ng-if="model.RecieveOnPort===null">
                            <a ng-click="SelectedData(item)" data-toggle="modal" data-target="#exampleModalCenter" href=""><i class="fas fa-trash text-danger"></i></a>
                            <a ng-click="EditItem(item)" data-target="#modal-container-825517" role="button" data-toggle="modal" href=""><i class="fas fa-edit text-warning"></i></a>
                        </td>
                        <td scope="row" class="print-only">
                            <qrcode data="{{model.AgentId}};{{item.STT}}" color="#337c64" background="#ffffff"></qrcode>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-header">
            <a ng-if="model.RecieveOnPort===null || model.RecieveOnPort===undefined" data-target="#modal-container-825517" role="button" data-toggle="modal" class="nav-link" href="" ng-click="Saved=true">
                <i class="fas fa-plus-circle   text-success"></i>
                <span class="sr-only">(current)</span>
            </a>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="modal fade" id="modal-container-825517" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Tambah/Edit STT
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" ng-submit="AddNewItem(data)">
                        <div class="form-group">
                            <label>
                                STT
                            </label>
                            <input ng-model="data.STT" type="text" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>
                                Pengirim
                            </label>
                            <input ng-model="data.Shiper" type="text" class="form-control" placeholder="Nama Pengirim" required />
                            <textarea ng-model="data.ShiperAddress" type="text" class="form-control" placeholder="Alamat Pengirim" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                Penerima
                            </label>
                            <input ng-model="data.Reciever" type="text" class="form-control" placeholder="Nama Penerima" required />
                            <textarea ng-model="data.RecieverAddress" type="text" class="form-control" 
                                      placeholder="Alamat Penerima" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                Tujuan
                            </label>
                            <select class="form-control" ng-options="item as item.Name for item in Cities track by item.Id" 
                                    ng-model="data.City" required></select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>
                                        Jumlah
                                    </label>
                                    <input type="number" ng-model="data.Pcs" class="form-control" placeholder="Pcs" required>
                                </div>
                                <div class="col">
                                    <label>
                                        Jenis Bobot
                                    </label>
                                    <select class="form-control" ng-options="item as item for item in WeightTypes"
                                            ng-model="data.WeightType" required></select>
                                </div>
                                <div class="col">
                                    <label>
                                        Total Bobot
                                    </label>
                                    <input type="number" ng-model="data.WeightValue" class="form-control" placeholder="Total Berat" required>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Dilanjutkan Via
                            </label>
                            <select class="form-control" ng-options="item as item for item in ShippingMode" ng-model="data.ShippingBy" required></select>
                        </div>


                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Agent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin Hapus Data ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button ng-click="delete()" data-dismiss="modal" type="button" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>

