
<div class="card w-100" ng-init="Init()">
    <div class="card-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a data-target="#modal-container-825517" role="button" data-toggle="modal" class="nav-link" href=""
               ng-click="model=null"><i class="fas fa-plus-circle  text-success fa-2x"></i><span class="sr-only">(current)</span></a>
            <a class="navbar-brand">DAFTAR MANIFEST</a>

        </nav>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="priority-5" scope="col">#</th>
                    <th class="priority-1" scope="col">Tanggal</th>
                    <th class="priority-1" scope="col">Nomor</th>
                    <th class="priority-2" scope="col">Via</th>
                    <th class="priority-3" scope="col">Jumlah</th>
                    <th class="priority-4" scope="col">Rencana Tiba</th>
                    <th class="priority-6" scope="col">Diterima</th>
                    <th class="priority-5" scope="col">Admin</th>
                    <th class="print-only" scope="col">QR Kode</th>
                    <th scope="col" class="text-right class=" priority-1""></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in Datas">
                    <th class="priority-5" scope="row">{{$index+1}}</th>
                    <td class="priority-1" scope="row">{{item.CreateDate|date:'dd MMMM yyyy'}}</td>
                    <td class="priority-1" scope="row">{{item.NumberView}}</td>
                    <td class="priority-2" scope="row">{{item.PortType}}</td>
                    <td class="priority-3" scope="row">{{item.Package}}</td>
                    <td class="priority-4" scope="row">{{item.SendedDate|date:'dd MMMM yyyy'}}</td>
                    <td class="priority-6" scope="row">{{item.RecieveOnPort|date:'dd MMMM yyyy'}}</td>
                    <td class="priority-5" scope="row">{{item.User.Name}}</td>
                    <td class="print-only"><qrcode data="{{item.CreateDate}}" version="2" error-correction-level="M" color="#fff" background="#000"></qrcode></td>

                    <td class="text-right no-print class=" priority-1"">
                        <a ng-if="item.RecieveOnPort===null" ng-click="SelectItem(item)" data-toggle="modal" data-target="#exampleModalCenter" href="">
                            <i class="fas fa-trash  text-danger"></i>
                        </a>
                        <a ui-sref="createmanifest({data:item})">
                            <i class="fas fa-edit  text-warning"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="col-md-12">
    <div class="modal fade" id="modal-container-825517" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Modal title
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" ng-submit="SaveAgent(model)">
                        <div class="form-group">
                            <label>
                                Name
                            </label>
                            <input ng-model="model.Name" type="text" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>
                                IATA CODE
                            </label>
                            <input ng-model="model.Code" type="text" class="form-control" required />
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Agent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin Hapus Data ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button ng-click="delete(SelectedItem)" data-dismiss="modal" type="button" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>